/* Babas Neue - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* IBM Plex Mono - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

/* Space Grotesk - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


html, body {
  height: 100%;
  margin: 0px 0px 0px 8px;
  padding: 0;
  overflow: auto;
}

#container {
  display: flex;
  height: 100%;
  /* background-color: aqua; */
}

#plugin-title {
  color: var(--figma-color-text);
  font-family: "Bebas Neue", sans-serif;
  margin: 4px 0px 4px 0px;
  font-weight: 400;
  font-style: normal;
  font-size: 36;
}

#left-pane {
  width: 45%;
  margin-right: 8px;
}

#right-pane {
  width: 55%;
  border-left: 1px solid #ddd;
  min-height: 0;
  height: 100%;
}

#settings {
  display: flex;
  flex-direction: column;
  height: auto;
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

.spinner {
  margin: 50px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}

#collections {
  width: 100%;
  height: 150px;
  overflow-y: auto;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}


#collections option {
  cursor: pointer;
}

#buttons-container {
  margin-top: 24px
}

#secondary-buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 12px;
}

.primary-button {
  padding: 10px 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-style: normal;
  /* border-radius: 5px */
}

.secondary-button {
  /* background-color: transparent; */
  padding: 10px 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-style: normal;
}

#download-button {
  height: auto;
  width: 100%;

}

#tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  min-height: 40px;
}

#preview {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#preview-switch {
  background-color: white;
  height: 10%;
  border-bottom: 1px solid #ddd;
  padding: 8px 0px 8px 8px
}

#tab-contents {
  flex-grow: 1;
  overflow-y: auto; /* Enable scrolling within tab contents */
  padding: 10px;
  box-sizing: border-box;
}

.tab-content {
  display: none;
  padding-left: 4px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.tab-content.active {
  display: block;
  white-space: pre-wrap;
}
#help-button {
  position: absolute;
  bottom: 40px;
  right: 40px;
  background-color: #007aff;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#help-modal {
  display: flex; /* Use flexbox to center the modal */
  align-items: center;
  justify-content: center;
  position: fixed; /* Fixed positioning to prevent scrolling issues */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#help-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  max-height: 80vh; /* Ensure the modal doesn't cause scrolling */
  overflow-y: auto;
}


#help-modal-close {
  float: right;
  cursor: pointer;
  color: #aaa;
  font-size: 20px;
}


