/* Babas Neue - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* IBM Plex Mono - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Space Grotesk - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Plugin window base styling => ensuring plugin takes up full window + does not overflow */
html, body {
  height: 100%;
  margin: 0px 0px 0px 4px;
  padding: 0;
  overflow: auto;
}

/* Plugin content wrapper */
#container {
  display: flex;
  height: 100%;
}

/* Font styling for options / settings labels */
.options-label {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500
}

/* Font styles for options / settings content */
.options-content {
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 400;
}

/* Font styles for small, secondary details or buttons */
.detail {
  font-family: 'IBM Plex Mono', monospace
}

/* Left pane (Plugin title + settings) */
#left-pane {
  width: 45%;
  padding-right: 8px;
}

/* Right pane (Preview select / tabs + tokens) */
#right-pane {
  width: 55%;
  border-left: 1px solid #ddd;
  min-height: 0;
  height: 100%;
}

/* Settings container (for token extraction - case style, single file, etc. */
#settings {
  display: flex;
  flex-direction: column;
  height: 85%;
}

/* ! Idek if this is being used anymore */
@keyframes spinner {
  to { transform: rotate(360deg); }
}

/* ! Not sure if this is being used anymore */
.spinner {
  margin: 50px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}

/* Variable collections container */
#collections {
  width: 100%;
  height: 150px;
  overflow-y: auto;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ! Not sure if this is being used anymore */
#collections option {
  cursor: pointer;
}

/* Wrapper for Download + Close buttons */
#buttons-container {
  border-top: 1px solid #ddd;
  padding: 16px 0px 16px 0px
}

/* Preview container (Preview select + tokens)  */
#preview {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 4px;
}

/* Preview dropdown menu switch */
#preview-switch {
  background-color: white;
  height: 70px;
  border-bottom: 1px solid #ddd;
  padding: 8px 0px 8px 8px
}

/* Scrolling tokens container */
#tokens-container {
  flex-grow: 1;
  overflow-y: auto; /* Enable scrolling within tab contents */
  padding: 8px;
  box-sizing: border-box;
}

/* Actual tokens rendering in preview window */
.tokens {
  display: none;
  padding-left: 4px;
  font-size: 12;
}

/* ! Highkey do not remember why I added this */
.tokens.active {
  display: block;
  white-space: pre-wrap;
}

/* Button to open help modal */
#help-button {
  position: absolute;
  bottom: 40px;
  right: 40px;
  background-color: #007aff;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Help modal container */
#help-modal {
  display: flex; /* Use flexbox to center the modal */
  align-items: center;
  justify-content: center;
  position: fixed; /* Fixed positioning to prevent scrolling issues */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* Content wrapper for modal */
#help-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  max-height: 80vh; /* Ensure the modal doesn't cause scrolling */
  overflow-y: auto;
}

/* Modal close button */
#help-modal-close {
  float: right;
  cursor: pointer;
  color: #aaa;
  font-size: 20px;
}


