#container {
  display: flex;
  height: 100%;
}

#plugin-title {
  color: var(--figma-color-text)
}

#left-pane {
  width: 45%;
  margin-right: 8px
}

#right-pane {
  width: 55%;
  border-left: 1px solid #ddd;
  overflow-y: scroll;
}

#settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

.spinner {
  margin: 50px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}

#collections {
  width: 100%;
  height: 150px;
  overflow-y: auto;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}


#collections option {
  cursor: pointer;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin-top: 10px;
}

#secondary-buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 12px;
}

.primary-button {
  padding: 10px 10px;
  /* border-radius: 5px */
}

.secondary-button {
  /* background-color: transparent; */
  padding: 10px 10px;
  /* color: var(--figma-color-text-brand) */
}

#download-button {
  /* background-color: var(--figma-color-bg-brand); */
  /* color: var(--figma-color-text-onbrand); */
  height: auto;
  width: 100%;
}


#tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  min-height: 40px;
}


.tab {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-right: 5px;
  flex-shrink: 0;
}

.tab.active {
  background-color: #eee;
}

#tab-contents {
  background-color: var(--figma-color-bg-inverse);
  overflow-y: auto;
  flex-grow: 1;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  white-space: pre-wrap;
}

#help-button {
  position: absolute;
  bottom: 40px;
  right: 40px;
  background-color: #007aff;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#help-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#help-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto;
}

#help-modal-close {
  float: right;
  cursor: pointer;
  color: #aaa;
  font-size: 20px;
}


